<div class="row">
	<h5 class="text-muted text-center">{{custom_date post_date "dddd, MMMM do, YYYY"}}</h5>
</div>
<div class="row">
	<h2 class="text-center"><a class="post_title" href="/{{this.post_title_clean}}">{{post_title}}</a></h2>
	<div class="row">
		{{{post_body}}}
	</div>
</div>
<hr/>