Rubbish/*
desktop.ini
sitemap.xml
config.txt
backup.zip
robots.txt
data/
node_modules/.bin/*
node_modules/archiver/*
node_modules/bcrypt-nodejs/*
node_modules/body-parser/*
node_modules/busboy/*
node_modules/cookie-parser/*
node_modules/debug/*
node_modules/ejs/*
node_modules/ejs-locals/*
node_modules/express/*
node_modules/express-flash/*
node_modules/express-handlebars/*
node_modules/express-session/*
node_modules/marked/*
node_modules/moment/*
node_modules/morgan/*
node_modules/multer/*
node_modules/nedb/*
node_modules/serve-favicon/*
node_modules/string/*

