<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px">
    {{#if message}}
		<div class="alert alert-{{ message_type}} alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{message}}
		</div>
	{{/if}}

	<form role="form" id="user_form" method="post" action="/admin/user/action_new">
		<div class="form-group">
			<label for="InputName">Enter Name *</label>
			<div class="input-group" style="width: 100%;">
				<input type="text" class="form-control" name="frm_users_name" id="frm_users_name" placeholder="Enter Name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="InputEmail">Enter Email *</label>
			<div class="input-group" style="width: 100%;">
				<input type="email" class="form-control" id="frm_email1" name="frm_email1" placeholder="Enter Email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="InputEmail">Confirm Email *</label>
			<div class="input-group" style="width: 100%;">
				<input type="email" class="form-control" id="frm_email2" name="frm_email2" placeholder="Confirm Email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="frm_password">Password *</label>
			<div class="input-group" style="width: 100%;">
				<input type="password" name="frm_password" id="frm_password" class="form-control">
			</div>
		</div>
		 <div class="form-group">
			<label for="frm_password_confirm">Confirm Password *</label>
			<div class="input-group" style="width: 100%;">
				<input type="password" name="frm_password_confirm" id="frm_password_confirm" class="form-control">
			</div>
		</div>
		<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success pull-right">
	</form>
</div>