<div class="col-xs-12">
	<form role="form" method="post" action="/admin/savesettings" name="settings_form" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span><b>Settings</b></span>
			</div>
			<table class="table table-condensed">
				<tr>
					<td width="30%">Blog title</td>
					<td>
						<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>