<div class="row" id="editor_header_row">
	{{#if message}}
		<script> 
			$.bootstrapGrowl("{{message}}", {type: '{{message_type}}',offset: {from: 'top', amount: 10},align: 'center',width: 400,delay: 2000});
		</script>
	{{/if}}
	<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<h1 class="page-header">Lab</h1>
	</div>	
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span><b>Lab</b></span><span class="label label-danger pull-right">This is a experimental area. Don't expect everything to run 100% right.</span>
			</div>
			<div class="panel-body">
				<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
					<div class="row">
						<table class="table borderless">
							<tr>
								<td>Export website data (be patient): </td>
								<td><a href="/admin/backup" class="btn btn-primary btn-sm" role="button">Backup / Export</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>